# Your API key for TMDB (The Movie Database)
TMDB_API_KEY=your_tmdb_api_key_here

# The base URL for your Next.js application
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_ENCRYPTION_KEY='run this command in your terminal (openssl rand -base64 32)'

# Firebase Configuration
apiKey='Your Firebase Api Key'
authDomain="Your Firebase authDomain"
projectId="Your Firebase projectId"
storageBucket="Your Firebase storageBucket"
messagingSenderId="Your Firebase messagingSenderId"
appId="Your Firebase appId"
measurementId="Your Firebase measurementId"